#product
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-row: 1fr 1fr;
    grid-gap : 40px;
    margin-top: 40px;
    margin-left: 40px;
    
}
#product a
{
background-color: blue;
}
#button
{
    margin-left: 40%;
    border-color: white;
    margin-top: 10%;
}
.modal-body input
{
    padding: 10px;
    margin-top: 30px;
    width: 80%;
}
.modal-body textarea
{
    padding: 10px;
    margin-top: 30px;
    width: 80%;
}
#center
{
    display: flex;
    align-items: center;
}